html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    background-color: #FAFAFA;
    text-align: center;
}

/* Opening */

.traveller {
    width: 350px;
    height: 291px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.heading-main {
    font-size: 28px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.text-opening {
    margin: 30px 20px 30px 20px;
    font-weight: 300;
    color: #8B8B8B;
}

.text {
    font-weight: 300;
    color: #8B8B8B;
    margin: 0 20px 30px 20px;
}

.button {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0px;
    border-radius: 20px;
    display: block;
    height: 40px;
    margin: 0 auto 10px auto;
}

.adventure {
    background-color: #407BFF;
    width: 195px;
}

.beach {
    background-color: #8B8B8B;
    width: 220px;
}

/* Company services */
/* Delegate services */

.heading-small {
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 60px;
    padding-left: 30px;
}

.icon-container {
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    box-shadow: 0px 4px 6px #407BFF1F;
    margin: 30px auto 7px auto;
    height: 80px;
    width: 460px;
    border-radius: 10px;
    padding: 10px;
}

.plane,
.RV {
    margin-bottom: 60px;
}

.icon {
    padding-left: 20px;
}

.text-icon {
    font-size: 13px;
    font-weight: 300;
    color: #8B8B8B;
    padding: 20px;
}

@media screen and (min-width: 640px) {
    .button-container {
        display: flex;
        margin: 30px auto 0 auto;
    }

    .button {
        margin-bottom: 0;
    }

    .adventure {
        margin-right: 20px;
    }

    .beach {
        margin-left: 20px;
    }

    .heading-small {
        margin-top: 60px;
    }

    .plane {
        margin-bottom: 0;
    }

    .icon-container {
        display: block;
        width: 230px;
        height: 170px;
        margin: 0px 10px 0 10px;
        padding: 0;
    }

    .icon-wrapper {
        display: flex;
        justify-content: center;
        margin: 0;
        align-items: center;
    }

    .text-icon {
        text-align: center;
        padding: 15px 20px;
        margin: 0;
    }

    .delegate {
        margin-bottom: 60px;
    }

    .icon {
        padding-top: 40px;
        padding-left: 0;
    }
}

@media screen and (min-width: 1100px) {
    .content {
        max-width: 1040px;
        margin: 0 auto;
    }

    .opening {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 80px;
        align-items: center;
    }

    .services {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 80px;
        justify-content: center;
        align-items: center;
    }

    .delegate {
        display: flex;
        margin-top: 80px;
        margin-bottom: 60px;
        justify-content: center;
        align-items: center;
    }

    .textbox {
        text-align: left;
        margin-right: 60px;
    }

    .text-opening {
        margin-left: 0;
    }

    .button-container {
        margin: 30px 0 0 0;
    }

    .button {
        text-align: center;
        margin: 0;
    }

    .adventure {
        margin-right: 20px;
    }

    .beach {
        margin-left: 20px;
    }

    .imgbox {
        width: 425px;
        height: 353px;
    }

    .traveller {
        width: 425px;
        height: 353px;
        margin: 0;
    }

    .icon-container {
        height: 191px;
        width: 170px;
        margin: 0 20px 0 0;
    }

    .services-text {
        text-align: left;
        margin-left: 40px;
    }

    .text {
        margin: 0;
    }

    .heading-small {
        padding-left: 0;
        margin-top: 0;
    }

    .delegate-text {
        text-align: left;
        margin-right: 60px;
    }

    .RV {
        margin-right: 0;
    }
}

